/*== SF UI Display ==*/
@font-face {
  font-family: 'SF UI Display';
  src: url('@/assets/fonts/SFUIDisplay/SFUIDisplay-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('@/assets/fonts/SFUIDisplay/SFUIDisplay-Heavy.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}