mixin footer
  footer.footer
    .container
      .row
        .col
          p.footer__name Prime Grid
          p.footer__version v1.6.4
        .col
          p.footer__contacts Contacts:
          a(href="//nmihalyov.tk", target="_blank").footer__contacts-item Website
          a(href="mailto:nikita.mihalyov@gmail.com", target="_blank").footer__contacts-item E-mail
          a(href="//t.me/nmihalyov", target="_blank").footer__contacts-item Telegram
          a(href="//github.com/nmihalyov", target="_blank").footer__contacts-item GitHub
          a(href="//github.com/nmihalyov/prime-grid/issues/new", target="_blank").footer__contacts-item Write Issue