include _og

//- константы для OpenGraph
-const TITLE = "Nikita Mihalyov"
-const URL = "nmihalyov.tk"
-const IMAGE = "../img/og.png"
-const DESCRIPTION = "Frontend web developer"

//- Кодировка
meta(charset="UTF-8")

//- Тег viewport
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")

//- Краткое описание веб-страницы
meta(name="description", content="Frontend web developer")

//- Ключевые слова (через запятую)
meta(name="keywords", content="frontend, web, developer, react, vue, jasvascript")

//- Цвет темы веб-приложения
meta(name="theme-color", content="#202020")

//- Авторский права
meta(name="copyright", content="Nikita Mihalyov <nikita.mihalyov@gmail.com>")

//- Теги веб-приложения для Apple (и не только)
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="#202020")
meta(name="apple-mobile-web-app-title", content="Nikita Mihalyov")

//- Теги веб-приложения для Windows
meta(name="msapplication-TileImage", content="../img/favicons/144x144.png")
meta(name="msapplication-TileColor", content="#202020")

//- Отключение отображения номера как ссылки
meta(name="format-detection", content="telephone=no")

+open-graph(TITLE, URL, IMAGE, DESCRIPTION)