.footer {
  margin: 30px 0 0 0;
  padding: 50px 0;
  background-color: $black;
  color: #fff;
  font-size: 18px;
  .container {
    margin-bottom: 0
  }
  &__name {
    margin-bottom: 0;
    line-height: 1;
    font: {
      size: 46px;
      weight: 900;
    }
  }
  &__version {
    margin-bottom: 0;
    font: {
      size: 16px;
      weight: 100;
    }
  }
  &__contacts {
    font-weight: 300;
    &-item {
      display: inline-block;
      padding-right: 10px;
      color: #fff;
      font-weight: 300;
      transition: all .1s ease-in-out;
      &:hover {
        opacity: .8;
        color: #fff;
      }
    }
  }
}